<h2 id="title">Welcome to Ember Trix</h2>

<label for="myTrix">Trix Label</label>
<TrixInput
		@id="myTrix"
		@value="My <em>initial</em> Content"
		@onChange={{this.onTrixChange}}
		@trixBlur={{this.onTrixBlur}}
		autofocus={{true}}

/>

{{outlet}}